.ajax-local-wrapper {
	display: none;
	position: absolute;
	top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
	&.show ~ * {
		opacity: .3;
	}
	& ~ div {
		transition: opacity .15s ease;
	}
}

.ajax-local-loader {
	display: flex;
	position: absolute;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.cssload-fond {
	position: relative;
	margin: auto;
}

.cssload-container-general {
	animation: cssload-animball_two 0.85s infinite;
	-o-animation: cssload-animball_two 0.85s infinite;
	-ms-animation: cssload-animball_two 0.85s infinite;
	-webkit-animation: cssload-animball_two 0.85s infinite;
	-moz-animation: cssload-animball_two 0.85s infinite;
	width: 32px;
	height: 32px;
}

.cssload-internal {
	width: 32px;
	height: 32px;
	position: absolute;
}

.cssload-ballcolor {
	width: 14px;
	height: 14px;
	border-radius: 50%;
}

.cssload-ball_1, .cssload-ball_2, .cssload-ball_3, .cssload-ball_4 {
	position: absolute;
	animation: cssload-animball_one 0.85s infinite ease;
	-o-animation: cssload-animball_one 0.85s infinite ease;
	-ms-animation: cssload-animball_one 0.85s infinite ease;
	-webkit-animation: cssload-animball_one 0.85s infinite ease;
	-moz-animation: cssload-animball_one 0.85s infinite ease;
}

.cssload-ball_1 {
	background-color: rgb(191, 26, 62);
	top: 0;
	left: 0;
}

.cssload-ball_2 {
	background-color: rgb(68, 68, 68);
	top: 0;
	left: 17px;
}

.cssload-ball_3 {
	background-color: rgb(234, 234, 234);
	top: 17px;
	left: 0;
}

.cssload-ball_4 {
	background-color: rgb(150, 222, 67);
	top: 17px;
	left: 17px;
}

@keyframes cssload-animball_one {
	0% {
		position: absolute;
	}
	50% {
		top: 9px;
		left: 9px;
		position: absolute;
		opacity: 0.5;
	}
	100% {
		position: absolute;
	}
}

@-o-keyframes cssload-animball_one {
	0% {
		position: absolute;
	}
	50% {
		top: 9px;
		left: 9px;
		position: absolute;
		opacity: 0.5;
	}
	100% {
		position: absolute;
	}
}

@-ms-keyframes cssload-animball_one {
	0% {
		position: absolute;
	}
	50% {
		top: 9px;
		left: 9px;
		position: absolute;
		opacity: 0.5;
	}
	100% {
		position: absolute;
	}
}

@-webkit-keyframes cssload-animball_one {
	0% {
		position: absolute;
	}
	50% {
		top: 9px;
		left: 9px;
		position: absolute;
		opacity: 0.5;
	}
	100% {
		position: absolute;
	}
}

@-moz-keyframes cssload-animball_one {
	0% {
		position: absolute;
	}
	50% {
		top: 9px;
		left: 9px;
		position: absolute;
		opacity: 0.5;
	}
	100% {
		position: absolute;
	}
}

@keyframes cssload-animball_two {
	0% {
		transform: rotate(0deg) scale(1);
	}
	50% {
		transform: rotate(360deg) scale(1.3);
	}
	100% {
		transform: rotate(720deg) scale(1);
	}
}

@-o-keyframes cssload-animball_two {
	0% {
		-o-transform: rotate(0deg) scale(1);
	}
	50% {
		-o-transform: rotate(360deg) scale(1.3);
	}
	100% {
		-o-transform: rotate(720deg) scale(1);
	}
}

@-ms-keyframes cssload-animball_two {
	0% {
		-ms-transform: rotate(0deg) scale(1);
	}
	50% {
		-ms-transform: rotate(360deg) scale(1.3);
	}
	100% {
		-ms-transform: rotate(720deg) scale(1);
	}
}

@-webkit-keyframes cssload-animball_two {
	0% {
		-webkit-transform: rotate(0deg) scale(1);
	}
	50% {
		-webkit-transform: rotate(360deg) scale(1.3);
	}
	100% {
		-webkit-transform: rotate(720deg) scale(1);
	}
}

@-moz-keyframes cssload-animball_two {
	0% {
		-moz-transform: rotate(0deg) scale(1);
	}
	50% {
		-moz-transform: rotate(360deg) scale(1.3);
	}
	100% {
		-moz-transform: rotate(720deg) scale(1);
	}
}