.dropdown--profile {
	&.open {
		.dropdown-toggle .fa {
			transform: rotate(180deg);
		}
	}
	.dropdown-toggle {
		padding: 0 0 0 16px;
		height: $navbar-height;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: #444444;
		> span {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
		.fa {
			transition: all .1s ease-in-out;
			margin-left: 12px;
			color: #444444;
			font-size: $font-size-large;
		}
	}
	.dropdown-menu {
		min-width: 120px;
		border-radius: $border-radius-base;
		background: #fff;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
		font-size: $font-size-small;
		padding: 10px 15px;
		> li {
			&:not(.divider) {
				padding: 4px 0;
			}
			> a {
				padding: 0;
			}
		}
		.divider {
			background-color: #eaeaea;
		}
	}
}