$content-bg: $body-bg;
$content-padding: 20px;

$footer-hg: 60px;

$z-index-main-section: 111;

html {
	height: 100%;
	// http://updates.html5rocks.com/2013/12/300ms-tap-delay-gone-away
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

html, body, #app {
	// overflow-x: hidden;
	height: 100%;
}

.wrapper {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 100%;
	overflow-x: hidden;
	&.ng-leave {
		display: none;
	}
	
	// Contains the main content
	> section {
		position: relative;
		height: 100%;
		margin-left: 0;
		// overflow: hidden;
		z-index: $z-index-main-section;
		background-color: $content-bg;
		margin-bottom: $footer-hg !important; // ensure a space for the footer
	}
	
	// Page Footer
	> footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: $footer-hg;
		border-top: 1px solid $gray-light;
		padding: $content-padding;
		z-index: $z-index-main-section - 2;
		> p {
			margin: 0;
		}
	}
}

.modal-open .wrapper {
	z-index: 0;
}

.fullscreen {
	width: 100%;
	height: 100vh;
}

.flex {
	display: flex;
	flex-direction: column;
}

.h-m {
	align-items: center;
}

.v-m {
	justify-content: center;
}

header {
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
	position: relative;
	z-index: $zindex-navbar;
	background: #fff;
	height: 60px;
	&.no-shadow {
		box-shadow: none;
	}
}

.logo {
	color: #333;
	text-decoration: none;
	font-size: $font-size-h4;
	user-select: none;
}

.navbar {
	min-height: initial;
	margin-bottom: 0;
	border: 0;
	display: flex;
	align-items: center;
	> div {
		display: inline-flex;
		&.navbar-header {
			width: 100%;
			flex-grow: 1;
		}
		&.nav-wrapper {
		
		}
	}
	&-brand {
		font-size: 14px;
		font-weight: bold;
		color: #444444;
		> span {
			color: #bf1a3f
		}
		&:hover {
			color: #444444;
		}
	}
	&-nav {
		margin: 0;
	}
	&-header {
		height: 60px;
		display: flex;
		align-items: center;
		> a {
			text-decoration: none;
		}
	}
}

.nav-tabs {
	&.default-tabs {
		border-bottom: 0;
		> li {
			&:first-child > a {
				padding-left: 0;
			}
			&:last-child > a {
				padding-right: 0;
			}
			> a {
				border-radius: 0;
				background-color: transparent;
				font-weight: normal;
				border: 0;
				padding: 10px 16px;
				.count {
					color: #b3b3b3;
					padding-left: 4px;
				}
				span {
					position: relative;
				}
			}
			&.active > a {
				border: 0;
				background: transparent;
				color: #444444;
				&:hover, &:focus {
					background: none;
					border: 0;
					color: #444444;
				}
				span:not(.count):after {
					content: " ";
					display: block;
					position: absolute;
					width: 100%;
					bottom: -12px;
					height: 3px;
					background: #000000;
				}
			}
		}
	}
}

.summator {
	&__left, &__right {
		padding: 40px;
	}
	&__left {
		h1 {
			margin-top: 0;
		}
		@media only screen and (max-width: 790px) {
			display: none
		}
	}
	.steps {
		&__actions {
			margin-top: 30px;
		}
	}
}

.step {
	&--three {
		.step__content {
			min-height: 200px;
			position: relative;
		}
	}
}
