.panel {
	&--login {
		padding: 20px;
		position: relative;
		overflow: hidden;
		.logo {
			user-select: none;
		}
		.panel-title {
			margin-bottom: 12px;
			font-size: $font-size-small
		}
		.help {
			display: block;
			color: $gray-dark;
			padding-top: 20px;
			font-size: $font-size-small;
		}
	}
}