.sidebar {
    &__block {
        border-radius: $border-radius-base;
        background-color: #ffffff;
        border: solid 1px #eaeaea;
        padding: 20px 14px;
        margin-bottom: 8px;
        &--pink {
            border-color: transparent;
            background: #ffd0da;
        }
        &__content {
            position: relative;
            min-height: 140px;
            ul, li {
                list-style: none;
                padding: 0;
                margin: 0;
            }
        }
        &__header {
            font-size: 16px;
            color: #444444;
            margin-bottom: 12px;
            line-height: 16px;
        }
    }
}